@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: url("/farmer-bg.jpg");
}

@layer base {
  .btn {
    @apply p-2 xl:rounded-lg sm:rounded-md rounded-sm;
  }
  .btn-success {
    @apply bg-green-700 border border-green-700;
  }

  .btn-transparent {
    @apply hover:border hover:border-white xl:p-3 lg:p-2 md:p-2 sm:p-2 px-1 py-0;
  }

  .btn-lg {
    @apply xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl text-lg;
  }

  .btn-scale {
    @apply hover:scale-110 transition;
  }
  .btn-landing {
    @apply xl:text-4xl lg:text-2xl md:text-xl sm:text-lg text-sm 
    xl:py-4 xl:px-8 lg:py-3 lg:px-6 md:py-2 md:px-4 sm:py-2 sm:px-4 mt-2 
    hover:bg-green-custom hover:text-white transition delay-100;
  }
  .btn-ort {
    @apply bg-white text-green-custom  xl:rounded-2xl lg:rounded-xl md:rounded-lg sm:rounded-md rounded-md;
  }
}
